:root {
    --mdc-theme-primary: #1976d2 !important;
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #1976d2;
}
/* Bordered form */
* {
    margin: 0;
    font-family: sans-serif;
}

.wrapper-card {
    width: 400px;
    padding: 16px;
    margin: 0 16px;
    box-shadow: 0px 2px 24px 4px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* Set a style for all buttons */
button {
    background-color: #4caf50 !important;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 40px 0;
}

/* Avatar image */
img.avatar {
    width: 80px;
    height: 80px;
}

/* Add padding to containers */
.container {
    padding: 16px;
}
.mdc-text-field {
    width: 100%;
}
/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form .admin {
    display: block;
    background: 1px solid red;
    text-align: right;
    padding-right: 16px;
    padding-bottom: 16px;
}
form .admin a {
    text-decoration: none;
}
form .admin a:hover {
    text-decoration: underline;
}
.mdc-top-app-bar,
.mdc-fab,
.mdc-snackbar__surface {
    background-color: #4caf50;
}
.mdc-fab--extended,
.mdc-fab--extended:hover {
    background-color: #4caf50;
    box-shadow: none;
}

button[disabled] {
    background-color: rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.37) !important;
}

/* css for waiting.html*/
.waiting .card {
    z-index: 4;
}
.waiting #wrapper {
    z-index: 3;
}

.waiting {
    background: #50a3a2;
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    width: 100%;
    height: 100vh;
}

.waiting {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.waiting .bg-bubbles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.waiting .bg-bubbles li:nth-child(0) {
    left: 5%;
    width: 110px;
    height: 110px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
}
.waiting .bg-bubbles li:nth-child(1) {
    left: 10%;
    width: 150px;
    height: 150px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 12s;
    animation-duration: 12s;
}
.waiting .bg-bubbles li:nth-child(2) {
    left: 35%;
    width: 110px;
    height: 110px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
}
.waiting .bg-bubbles li:nth-child(3) {
    left: 24%;
    width: 70px;
    height: 70px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}
.waiting .bg-bubbles li:nth-child(4) {
    left: 90%;
    width: 130px;
    height: 130px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 11s;
    animation-duration: 11s;
}
.waiting .bg-bubbles li:nth-child(5) {
    left: 56%;
    width: 55px;
    height: 55px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
}
.waiting .bg-bubbles li:nth-child(6) {
    left: 77%;
    width: 90px;
    height: 90px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
}
.waiting .bg-bubbles li:nth-child(7) {
    left: 34%;
    width: 100px;
    height: 100px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
}
.waiting .bg-bubbles li:nth-child(8) {
    left: 25%;
    width: 40px;
    height: 40px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 12s;
    animation-duration: 12s;
}
.waiting .bg-bubbles li:nth-child(9) {
    left: 90%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
