:root {
    --mdc-theme-primary: #1976d2 !important;
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #1976d2;
}
#wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}
.header {
    margin: 16px;
    text-align: center;
}
.footer {
    text-align: right;
}
.header button {
    color: white !important;
    background-color: #4caf50;
    border-radius: 24px;
    margin: 4px;
}
.mdc-text-field {
    width: 100%;
}
.mdc-button {
    margin: 0;
    width: 100%;
    font-size: 14px;
    height: 32px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.imgcontainer {
    text-align: center;
    margin-bottom: 40px;
}

/* Avatar image */
img.avatar {
    width: 80px;
    height: 80px;
}

.wrapper-card {
    width: fit-content;
    padding: 40px 16px 20px 16px;
    margin: 0 auto;
}
