:root {
    --mdc-theme-primary: #6EC1C4 !important;
  }
  .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #6EC1C4;
  }
#wrapper {
    margin-top: 200px;
}
.header {
    margin: 16px;
    text-align: center;
}
.footer {
    text-align: right;
}
.header button {
    color: white !important;
    background-color: #4CAF50;
    border-radius: 24px;
    margin: 4px;
}
.mdc-text-field {
    width: 100%;
}
.mdc-button {
    margin: 0;
    width: 100%;
    font-size: 14px;
    height: 32px;
}
a {
    text-decoration: none;
}
a {
    text-decoration: underline;
}