:root {
    --mdc-theme-primary: #1976d2 !important;
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #1976d2;
}
/* Bordered form */
* {
    margin: 0;
    font-family: sans-serif;
}
.wrapper-card {
    width: fit-content;
    padding: 40px 16px 20px 16px;
    margin: 0 auto;
    box-shadow: 0px 2px 24px 4px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* Full-width inputs */
/* input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
} */

/* Set a style for all buttons */
button {
    background-color: #4caf50 !important;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}
p {
    font-family: Roboto;
}
/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 100px;
    height: 100px;
}

/* Add padding to containers */
.container {
    padding: 16px;
}
.container .mdc-text-field {
    width: 100%;
}
/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
form .admin {
    display: block;
    background: 1px solid #f44336;
    text-align: right;
    padding-right: 16px;
    padding-bottom: 16px;
}
form .admin a {
    text-decoration: none;
}

#error {
    font-size: 14px;
    color: #f44336;
    font-style: italic;
    margin: 4px 0 0;
}

button[disabled] {
    background-color: rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.37) !important;
}
.main-container .mdc-text-field {
    margin-bottom: 8px;
}
.main-container .mdc-text-field input {
    cursor: pointer;
}
.main-container form {
    padding: 40px;
    padding-bottom: 0;
    width: 600px;
}
.main-container h1,
.main-container p {
    margin-bottom: 16px;
    font-family: Roboto, sans-serif;
}
.main-container {
    font-size: 16px;
    height: unset !important;
}
.main-container .group-answer {
    display: flex;
    flex-direction: column;
}
.group-answer .material-icons {
    color: white !important;
}
.group-answer .mdc-text-field {
    height: auto;
}
.group-answer input {
    overflow: hidden;
    white-space: normal;
    text-align: left;
}
.question {
    padding: 40px 30px 20px;
    width: 50%;
}
@media only screen and (max-width: 800px) {
    .question,
    .wrapper-card {
        width: 90%;
    }
    #timing {
        margin: 8% 0;
    }
    #status {
        font-size: 13px !important;
    }
}
.question .mdc-text-field:hover {
    background-color: rgb(25, 118, 210, 0.2);
    border-radius: 4px;
}
#timing {
    text-align: center;
    font-size: 60px;
    width: 100%;
    margin: 4% 0;
}
.finish {
    font-size: 26px;
    text-align: center;
}
.btn-exit {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
.btn-exit button {
    width: 30%;
}
.mdc-data-table::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}
.mdc-data-table::-webkit-scrollbar-thumb {
    background: #909090;
    border-radius: 10px;
}
.explanation {
    margin-top: 24px;
    border-left: 4px solid #4caf50;
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 8px 0;
    padding-left: 8px;
}
.explanation .title {
    font-weight: bold;
    margin-bottom: 4px;
}
.explanation .content {
    word-break: break-all;
}

/* css for waiting.html*/
.waiting .card-round {
    z-index: 4;
}
.waiting .card {
    font-size: 24px;
    padding: 16px;
    width: auto;
    background-color: transparent;
    color: white;
    z-index: 4;
}
.waiting .card a {
    color: white;
    font-weight: bold;
}
.waiting {
    background: #50a3a2;
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}
.waiting #wrapper {
    z-index: 3;
}
.waiting .bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.waiting .bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    transition-timing-function: linear;
}
.waiting .bg-bubbles li:nth-child(1) {
    left: 10%;
}
.waiting .bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}
.waiting .bg-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}
.waiting .bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
}
.waiting .bg-bubbles li:nth-child(5) {
    left: 70%;
}
.waiting .bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
}
.waiting .bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}
.waiting .bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
}
.waiting .bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
}
.waiting .bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
    animation-delay: 11s;
}
@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}
@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}

#question {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    height: 100%;
}
#status {
    font-size: 14px;
    font-style: italic;
    color: #f44336;
    font-weight: bold;
}

.animated {
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
