:root {
    --mdc-theme-primary: #1976d2 !important;
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #1976d2;
}
/* Bordered form */
* {
    margin: 0;
    font-family: sans-serif;
}
.wrapper-card {
    width: fit-content;
    padding: 40px 16px 20px 16px;
    margin: 0 auto;
    box-shadow: 0px 2px 24px 4px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* Full-width inputs */
/* input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
} */

/* Set a style for all buttons */
button {
    background-color: #4caf50 !important;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}
p {
    font-family: Roboto;
}
/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 100px;
    height: 100px;
}

/* Add padding to containers */
.container {
    padding: 16px;
}
.container .mdc-text-field {
    width: 100%;
}
/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
form .admin {
    display: block;
    background: 1px solid #f44336;
    text-align: right;
    padding-right: 16px;
    padding-bottom: 16px;
}
form .admin a {
    text-decoration: none;
}

#error {
    font-size: 14px;
    color: #f44336;
    font-style: italic;
    margin: 4px 0 0;
}

button[disabled] {
    background-color: rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.37) !important;
}
.main-container .mdc-text-field {
    margin-bottom: 8px;
}
.main-container .mdc-text-field input {
    cursor: pointer;
}
.main-container form {
    padding: 40px;
    padding-bottom: 0;
    width: 600px;
}
.main-container h1,
.main-container p {
    margin-bottom: 20px;
    font-family: Roboto, sans-serif;
}
.main-container {
    font-size: 16px;
}
.main-container .group-answer {
    display: flex;
    flex-direction: column;
}
.group-answer .material-icons {
    color: white !important;
}
.question {
    padding: 40px 30px 20px;
    width: 50%;
}
@media only screen and (max-width: 800px) {
    .question,
    .wrapper-card {
        width: 90%;
    }
}
.question .mdc-text-field:hover {
    background-color: rgb(25, 118, 210, 0.2);
    border-radius: 4px;
}
#timing {
    text-align: center;
    font-size: 60px;
    position: absolute;
    width: 100%;
    top: 24px;
}
.finish {
    font-size: 26px;
    text-align: center;
}
.btn-exit {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
.btn-exit button {
    width: 30%;
}
.mdc-data-table::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}
.mdc-data-table::-webkit-scrollbar-thumb {
    background: #909090;
    border-radius: 10px;
}
.explanation {
    margin-top: 24px;
    border-left: 4px solid #4caf50;
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 8px 0;
    padding-left: 8px;
}
.explanation .title {
    font-weight: bold;
    margin-bottom: 4px;
}
.explanation .content {
    word-break: break-all;
}
