:root {
    --mdc-theme-primary: #1976d2 !important;
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #1976d2;
}
body {
    margin: 0;
}
#wrapper {
    display: flex;
    padding-top: 80px;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
}
@media only screen and (max-width: 800px) {
    #wrapper {
        width: 90%;
    }
}
#fCName {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.mdc-dialog__surface {
    width: 380px;
}
.mdc-text-field {
    width: 100%;
}
.mdc-top-app-bar,
.mdc-fab,
.mdc-snackbar__surface {
    background-color: #4caf50;
}
.mdc-fab--extended,
.mdc-fab--extended:hover {
    background-color: #4caf50;
    box-shadow: none;
}
.app-fab--absolute {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

@media (min-width: 1024px) {
    .app-fab--absolute {
        bottom: 1.5rem;
        right: 1.5rem;
    }
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
table td a {
    text-decoration: none;
    display: block;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
}
table td a:hover {
    text-decoration: underline;
}

#my-dialog-title {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-left: 8px;
}
.mdc-data-table::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}
.mdc-data-table::-webkit-scrollbar-thumb {
    background: #909090;
    border-radius: 10px;
}

.mdc-icon-edit,
.mdc-icon-delete {
    opacity: 0.54;
    /* color: #1976d2 !important; */
}
/* .mdc-icon-delete {
    color: #ED1C24 !important;
} */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 16px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -52px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
